nav {
	max-width: 800px;
	margin: auto;
	font-size: 1rem;
	border-radius: 0.2rem;
	text-transform: uppercase;
}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-block-start: 0em;
	padding-inline-start: 0px;
}

nav ul li {
	background-color: whitesmoke;
	list-style-type: none;
	padding: 0.3rem;
	margin: 0.1rem;
	max-width: 100%;
	border-radius: 0.5rem;
	border: 2px solid rgba(251,192,147, 0.8);
}

nav ul li a {
	font-family: "PT Serif", serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style:normal;
	text-decoration: none;
	color: mediumpurple;
}

nav ul li a:visited {
	text-decoration: none;
	color: mediumpurple;
}

nav ul li a:hover {
	text-decoration: none;
	color: lightpink;
}

h1{
	display: flex;
	justify-content: center;
}

h2{
	margin: 1rem;
}

p{
	margin: 1rem;
}


.center{
	display: flex;
	justify-content: center;
}

.list-image{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	margin: auto;
}

.list-image img{
	max-width: 200px;
	margin: 1rem;
}


.list-reverse{
	display: flex;
	flex-direction: row-reverse;
	margin: 1rem;
}

footer {
	margin: 1rem;
	padding: 1rem;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	font-family: "PT Serif", serif;
  	font-weight: 400;
  	font-style: normal;
}

/*.list-item {
	display: flex;
}*/