nav {
	background-color: ;
	max-width: 800px;
	margin: auto;
	font-size: 1rem;
	border-radius: 0.2rem;
	text-transform: uppercase;
}

nav ul {
	diplay: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-block-start: 0em;
	padding-inline-start: 0px;
}

nav ul li {
	background-color: whitesmoke;
	list-style-type: none;
	padding: 0.3rem;
	margin: 0.1rem;
	max-width: 100%;
	border-radius: 0.5rem;
	border: 2px solid rgba(251,192,147, 0.8);
}

nav ul li a {
	font-family: "PT Serif", serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style:normal;
	text-decoration: none;
}

nav ul li a:visited {
	text-decoration: none;
	color: mediumpurple;
}

nav ul li a:hover {
	text-decoration:;
	color: lightpink;
}


body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: whitesmoke;
}

.sunset {
	background-image: url("../img/sunset.jpg") !important;
}

h1 {
	display: flex;
	justify-content: center;
	font-family: "Lobster", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2rem;
	color:lightpink;
	text-shadow: mediumpurple 1px 0 10px;
}

p {
	font-family: "PT Serif", serif;
  	font-weight: 400;
  	font-style: normal;
}

h2 {
	font-family: "Fira Sans", serif;
 	font-weight: 600;
  	font-style: normal;
}

.list {
	font-family: "Playwrite IT Moderna", serif;
  	font-optical-sizing: auto;
  	font-weight: 300;
  	font-style: normal;
}

.text-box {
	margin: 1rem;
	margin-top: 2rem;
	padding: 1rem;
	background-color: rgba(255,192,203,0.3);
	border-radius: 10px;
}

.main-image{
	display: flex;
}

.main-image img{
	max-width: 45%;
	border-radius: 50%;
	margin: auto;
}

img {
	border: none;
}

footer {
	margin: 1rem;
	padding: 1rem;
	background-color: rgba(251,192,147, 0.5);
	color: black;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	font-family: "PT Serif", serif;
  	font-weight: 400;
  	font-style: normal;
}