nav {
	background-color: ;
	max-width: 800px;
	margin: auto;
	font-size: 1rem;
	border-radius: 0.2rem;
	text-transform: uppercase;
}

nav ul {
	diplay: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-block-start: 0em;
	padding-inline-start: 0px;
}

nav ul li {
	background-color: whitesmoke;
	list-style-type: none;
	padding: 0.3rem;
	margin: 0.1rem;
	max-width: 100%;
	border-radius: 0.5rem;
	border: 1px solid rgba(0.162,230,0.5);
	border: 5x solid rgba(230,68,0,0.5);
}

nav ul li a {
	font-family: ;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style:normal;
	text-decoration: none;
	color: rgba(230,68,0,0.5);
}

nav ul li a:visited {
	text-decoration: none;
	color: blue;
}

nav ul li a:hover {
	text-decoration:;
	color: rebeccapurple;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(153,51,204,0.5);
}

h1 {
	display: flex;
	justify-content: center;
	font-family:;
	font-size: 2rem;
	color:;
	text-shadow:;
}

p {
	font-family: ;
}

.sunset {
	background-image: url("../img/sunset.jpg") !important;
}

.main-image{
	display: flex;
}

.main-image img{
	max-width: 45%;
	border-radius: 50%;
	margin: auto;
}

img {
	border: none;
}